SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=127.0.0.1, localhost, mydomain.com
DB_HOST=db
CSRF_TRUSTED_ORIGINS=http://localhost:8000, http://127.0.0.1:8000

POSTGRES_DB=blog_api_project
POSTGRES_USER=blog_api_project_user
POSTGRES_PASSWORD=qazwsx123
