# Virtual ortaliq
.venv/
.env/
venv/

# Python cache files
__pycache__/
*.pyc

# Mag'lumatlar bazasi fayllari
db.sqlite3

# Sir mag'lumatlar
.env

# IDE sazlawlari
.idea/
.vscode/

# static fayllar
staticfiles/